Repository Unstructured-IO/unstructured, pull requests merged in 2023-10, with the labels that each got.

#1605 roman/update language kwarg partition ingest
  CHANGELOG.md
  unstructured/__version__.py
  unstructured/ingest/processor.py
Labels: ingest

#1280 Adds data source properties to git connectors
  CHANGELOG.md
  test_unstructured_ingest/expected-structured-output/github/LICENSE.txt.json
  test_unstructured_ingest/expected-structured-output/github/test.html.json
  unstructured/__version__.py
  unstructured/ingest/connector/git.py
  unstructured/ingest/connector/github.py
  unstructured/ingest/connector/gitlab.py
Labels: ingest

#1727 fix: unstructured-ingest embedding KeyError
  .github/workflows/ci.yml
  .github/workflows/ingest-test-fixtures-update-pr.yml
  CHANGELOG.md
  test_unstructured_ingest/test-ingest-embed.sh
  test_unstructured_ingest/test-ingest.sh
  unstructured/__version__.py
  unstructured/ingest/pipeline/reformat/embedding.py
Labels: bug, ingest

#1736 roman/ingest continue on error
  CHANGELOG.md
  test_unstructured/partition/pdf_image/test_image.py
  test_unstructured/partition/pdf_image/test_pdf.py
  test_unstructured_ingest/failed-partition-docs/sample.gif
  test_unstructured_ingest/failed-partition-docs/small.txt
  test_unstructured_ingest/test-ingest-local-failed-partition.sh
  unstructured/ingest/cli/interfaces.py
  unstructured/ingest/interfaces.py
  unstructured/ingest/pipeline/interfaces.py
  unstructured/ingest/pipeline/partition.py
  unstructured/ingest/pipeline/pipeline.py
  unstructured/ingest/pipeline/reformat/chunking.py
  unstructured/ingest/pipeline/reformat/embedding.py
  unstructured/ingest/pipeline/source.py
Labels: bug, ingest

#1719 fix: _add_embeddings_to_elements bug resulting in duplicated elements
  CHANGELOG.md
  test_unstructured/embed/test_openai.py
  unstructured/documents/elements.py
  unstructured/embed/openai.py
Labels: bug, ingest

#1689 roman/update ingest pipeline docs
  CHANGELOG.md
  docs/source/source_connectors/airtable.rst
  docs/source/source_connectors/azure.rst
  docs/source/source_connectors/biomed.rst
  docs/source/source_connectors/box.rst
  docs/source/source_connectors/confluence.rst
  docs/source/source_connectors/delta_table.rst
  docs/source/source_connectors/discord.rst
  docs/source/source_connectors/dropbox.rst
  docs/source/source_connectors/elasticsearch.rst
  docs/source/source_connectors/github.rst
  docs/source/source_connectors/gitlab.rst
  docs/source/source_connectors/google_cloud_storage.rst
  docs/source/source_connectors/google_drive.rst
  docs/source/source_connectors/jira.rst
  docs/source/source_connectors/local_connector.rst
  docs/source/source_connectors/notion.rst
  docs/source/source_connectors/onedrive.rst
  docs/source/source_connectors/outlook.rst
  docs/source/source_connectors/reddit.rst
  docs/source/source_connectors/s3.rst
  docs/source/source_connectors/salesforce.rst
  docs/source/source_connectors/sharepoint.rst
  docs/source/source_connectors/slack.rst
  docs/source/source_connectors/wikipedia.rst
  unstructured/__version__.py
  unstructured/ingest/README.md
  unstructured/ingest/img/unstructured_ingest_cli_diagram.jpg
  unstructured/ingest/img/unstructured_ingest_cli_pipeline_diagram.png
  unstructured/ingest/img/unstructured_ingest_processing_diagram.jpg
  unstructured/ingest/runner/azure.py
  unstructured/ingest/runner/biomed.py
  unstructured/ingest/runner/confluence.py
Labels: ingest

#1775 Add check for duplicate click options
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  setup.cfg
  test_unstructured/nlp/test_partition.py
  test_unstructured_ingest/test-ingest-biomed-api.sh
  test_unstructured_ingest/test-ingest-biomed-path.sh
  test_unstructured_ingest/test-ingest.sh
  test_unstructured_ingest/unit/test_cli.py
  unstructured/__version__.py
  unstructured/documents/elements.py
  unstructured/documents/email_elements.py
  unstructured/documents/html.py
  unstructured/embed/interfaces.py
  unstructured/ingest/cli/cmds/airtable.py
  unstructured/ingest/cli/cmds/azure.py
  unstructured/ingest/cli/cmds/azure_cognitive_search.py
  unstructured/ingest/cli/cmds/biomed.py
  unstructured/ingest/cli/cmds/box.py
  unstructured/ingest/cli/cmds/confluence.py
  unstructured/ingest/cli/cmds/delta_table.py
  unstructured/ingest/cli/cmds/discord.py
  unstructured/ingest/cli/cmds/dropbox.py
  unstructured/ingest/cli/cmds/elasticsearch.py
  unstructured/ingest/cli/cmds/gcs.py
  unstructured/ingest/cli/cmds/github.py
  unstructured/ingest/cli/cmds/gitlab.py
  unstructured/ingest/cli/cmds/google_drive.py
  unstructured/ingest/cli/cmds/jira.py
  unstructured/ingest/cli/cmds/local.py
  unstructured/ingest/cli/cmds/notion.py
  unstructured/ingest/cli/cmds/onedrive.py
  unstructured/ingest/cli/cmds/outlook.py
  unstructured/ingest/cli/cmds/reddit.py
  unstructured/ingest/cli/cmds/s3.py
  unstructured/ingest/cli/cmds/salesforce.py
  unstructured/ingest/cli/cmds/sharepoint.py
  unstructured/ingest/cli/cmds/slack.py
  unstructured/ingest/cli/cmds/wikipedia.py
  unstructured/ingest/cli/interfaces.py
  unstructured/ingest/cli/utils.py
  unstructured/ingest/connector/biomed.py
  unstructured/ingest/connector/discord.py
  unstructured/ingest/connector/local.py
  unstructured/ingest/connector/notion/connector.py
  unstructured/ingest/connector/slack.py
  unstructured/ingest/interfaces.py
  unstructured/ingest/runner/biomed.py
  unstructured/ingest/runner/notion.py
  unstructured/utils.py
Labels: enhancement, ingest

#1893 bugfix: ingest pipeline with chunking and embedding does not persist data to the embedding step
  CHANGELOG.md
  test_unstructured_ingest/test-ingest.sh
  unstructured/__version__.py
  unstructured/documents/elements.py
Labels: bug, ingest

#1888 support passing credentials from memory for google connectors
  CHANGELOG.md
  test_unstructured_ingest/test-ingest-gcs-dest.sh
  test_unstructured_ingest/test-ingest-gcs.sh
  unstructured/__version__.py
  unstructured/ingest/cli/cmds/gcs.py
  unstructured/ingest/cli/cmds/google_drive.py
  unstructured/ingest/cli/interfaces.py
  unstructured/ingest/connector/google_drive.py
  unstructured/ingest/runner/gcs.py
  unstructured/ingest/runner/google_drive.py
  unstructured/ingest/runner/writers/gcs.py
Labels: enhancement, ingest
