Repository Unstructured-IO/unstructured, pull requests merged in 2023-11, with the labels that each got.

#1969 update sphinx docs with ingest content
  docs/source/core/embedding.rst
  docs/source/index.rst
  docs/source/ingest/configs.rst
  docs/source/ingest/configs/chunking_config.rst
  docs/source/ingest/configs/embedding_config.rst
  docs/source/ingest/configs/fsspec_config.rst
  docs/source/ingest/configs/partition_config.rst
  docs/source/ingest/configs/permissions_config.rst
  docs/source/ingest/configs/processor_config.rst
  docs/source/ingest/configs/read_config.rst
  docs/source/ingest/configs/retry_strategy_config.rst
  docs/source/ingest/destination_connectors.rst
  docs/source/ingest/destination_connectors/azure_cognitive_sample_index_schema.json
  docs/source/ingest/destination_connectors/azure_cognitive_search.rst
  docs/source/ingest/destination_connectors/delta_table.rst
  docs/source/ingest/imgs/unstructured_ingest_cli_pipeline_diagram.png
  docs/source/ingest/index.rst
  docs/source/ingest/source_connectors.rst
  docs/source/ingest/source_connectors/airtable.rst
  docs/source/ingest/source_connectors/azure.rst
  docs/source/ingest/source_connectors/biomed.rst
  docs/source/ingest/source_connectors/box.rst
  docs/source/ingest/source_connectors/confluence.rst
  docs/source/ingest/source_connectors/delta_table.rst
  docs/source/ingest/source_connectors/discord.rst
  docs/source/ingest/source_connectors/dropbox.rst
  docs/source/ingest/source_connectors/elasticsearch.rst
  docs/source/ingest/source_connectors/github.rst
  docs/source/ingest/source_connectors/gitlab.rst
  docs/source/ingest/source_connectors/google_cloud_storage.rst
  docs/source/ingest/source_connectors/google_drive.rst
  docs/source/ingest/source_connectors/jira.rst
  docs/source/ingest/source_connectors/local_connector.rst
  docs/source/ingest/source_connectors/notion.rst
  docs/source/ingest/source_connectors/onedrive.rst
  docs/source/ingest/source_connectors/outlook.rst
  docs/source/ingest/source_connectors/reddit.rst
  docs/source/ingest/source_connectors/s3.rst
  docs/source/ingest/source_connectors/salesforce.rst
  docs/source/ingest/source_connectors/sharepoint.rst
  docs/source/ingest/source_connectors/slack.rst
  docs/source/ingest/source_connectors/wikipedia.rst
Labels: documentation, enhancement, ingest

#1957 Add CliMix class to wrap both BaseConfig and CliMixin
  CHANGELOG.md
  unstructured/__version__.py
  unstructured/ingest/cli/base/cmd.py
  unstructured/ingest/cli/cmds/airtable.py
  unstructured/ingest/cli/cmds/azure.py
  unstructured/ingest/cli/cmds/azure_cognitive_search.py
  unstructured/ingest/cli/cmds/biomed.py
  unstructured/ingest/cli/cmds/box.py
  unstructured/ingest/cli/cmds/confluence.py
  unstructured/ingest/cli/cmds/delta_table.py
  unstructured/ingest/cli/cmds/discord.py
  unstructured/ingest/cli/cmds/dropbox.py
  unstructured/ingest/cli/cmds/elasticsearch.py
  unstructured/ingest/cli/cmds/gcs.py
  unstructured/ingest/cli/cmds/github.py
  unstructured/ingest/cli/cmds/gitlab.py
  unstructured/ingest/cli/cmds/google_drive.py
  unstructured/ingest/cli/cmds/jira.py
  unstructured/ingest/cli/cmds/local.py
  unstructured/ingest/cli/cmds/notion.py
  unstructured/ingest/cli/cmds/onedrive.py
  unstructured/ingest/cli/cmds/outlook.py
  unstructured/ingest/cli/cmds/reddit.py
  unstructured/ingest/cli/cmds/s3.py
  unstructured/ingest/cli/cmds/salesforce.py
  unstructured/ingest/cli/cmds/sharepoint.py
  unstructured/ingest/cli/cmds/slack.py
  unstructured/ingest/cli/cmds/wikipedia.py
  unstructured/ingest/cli/interfaces.py
  unstructured/ingest/cli/utils.py
Labels: enhancement, ingest

#1991 test: update ingest dest tests to follow set pattern
  CHANGELOG.md
  docs/source/ingest/destination_connectors/azure_cognitive_sample_index_schema.json
  test_unstructured_ingest/dest/azure-cognitive-search.sh
  test_unstructured_ingest/dest/azure.sh
  test_unstructured_ingest/dest/box.sh
  test_unstructured_ingest/dest/delta-table.sh
  test_unstructured_ingest/dest/dropbox.sh
  test_unstructured_ingest/dest/gcs.sh
  test_unstructured_ingest/dest/s3.sh
  test_unstructured_ingest/files/azure_cognitive_index_schema.json
  test_unstructured_ingest/python/test-ingest-delta-table-output.py
  test_unstructured_ingest/src/delta-table.sh
  test_unstructured_ingest/test-ingest-dest.sh
  unstructured/__version__.py
  unstructured/ingest/connector/azure_cognitive_search.py
Labels: bug, enhancement, ingest

#2000 feat: add connection check method to all source and destination connectors
  CHANGELOG.md
  unstructured/__version__.py
  unstructured/ingest/connector/airtable.py
  unstructured/ingest/connector/azure.py
  unstructured/ingest/connector/azure_cognitive_search.py
  unstructured/ingest/connector/biomed.py
  unstructured/ingest/connector/box.py
  unstructured/ingest/connector/confluence.py
  unstructured/ingest/connector/delta_table.py
  unstructured/ingest/connector/discord.py
  unstructured/ingest/connector/dropbox.py
  unstructured/ingest/connector/elasticsearch.py
  unstructured/ingest/connector/fsspec.py
  unstructured/ingest/connector/git.py
  unstructured/ingest/connector/github.py
  unstructured/ingest/connector/gitlab.py
  unstructured/ingest/connector/google_drive.py
  unstructured/ingest/connector/jira.py
  unstructured/ingest/connector/local.py
  unstructured/ingest/connector/notion/connector.py
  unstructured/ingest/connector/onedrive.py
  unstructured/ingest/connector/outlook.py
  unstructured/ingest/connector/reddit.py
  unstructured/ingest/connector/salesforce.py
  unstructured/ingest/connector/sharepoint.py
  unstructured/ingest/connector/slack.py
  unstructured/ingest/connector/wikipedia.py
  unstructured/ingest/interfaces.py
Labels: enhancement, ingest

#2172 chore: enable azure destination CI tests
  .github/workflows/ci.yml
  test_unstructured_ingest/test-ingest-dest.sh
Labels: ingest

#1774 feat: add pinecone destination connector
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  docs/source/core/chunking.rst
  docs/source/ingest/configs/chunking_config.rst
  docs/source/ingest/configs/embedding_config.rst
  docs/source/ingest/destination_connectors.rst
  docs/source/ingest/destination_connectors/pinecone.rst
  docs/source/ingest/destination_connectors/s3.rst
  examples/ingest/pinecone/ingest.sh
  requirements/ingest/pinecone.in
  requirements/ingest/pinecone.txt
  setup.py
  test_unstructured_ingest/dest/pinecone.sh
  test_unstructured_ingest/test-ingest-dest.sh
  unstructured/__version__.py
  unstructured/ingest/cli/cmds/__init__.py
  unstructured/ingest/cli/cmds/pinecone.py
  unstructured/ingest/cli/interfaces.py
  unstructured/ingest/connector/pinecone.py
  unstructured/ingest/interfaces.py
  unstructured/ingest/pipeline/pipeline.py
  unstructured/ingest/pipeline/reformat/chunking.py
  unstructured/ingest/pipeline/reformat/embedding.py
  unstructured/ingest/runner/writers/__init__.py
  unstructured/ingest/runner/writers/pinecone.py
  unstructured/staging/base.py
Labels: ingest
